name: Build Rust Plugin (Linux)

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build-plugin:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: linux-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            linux-cargo-

      - name: Build plugin (.so)
        run: cargo build --release

      - name: Upload .so plugin
        uses: actions/upload-artifact@v4
        with:
          name: rust-plugin-linux
          path: target/release/*.so
          if-no-files-found: error
